<!DOCTYPE html>
<html>
<head> 
    <title>OnLine HighLine</title>
    <link rel="stylesheet" href="static/gallery.css" />
</head>
<body>
        <body>
           <div class="row">
               <div class="column" style="background-color:#FFB695;">
                <a href="/quiz"><h2>RETAINER</h2> </a>
                <img
                src="retainer.jpeg"
              />
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
               </div>
               <div class="column" style="background-color:#FFB695;">
                <a href="/quiz"><h2>57 FORMS OF LIBERTY</h2> </a>
                <img
                src="57FormsofLiberty.jpg"
              />
                   <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</h3>
               </div>
           </div>  
</body>
</html>