<!DOCTYPE html>
<html>
<head> 
    <title>OnLine HighLine</title>
    <link rel="stylesheet" href="static/index.css" />
</head>
<body>

    <div class="splash">
        <img
          src="https://cdn.glitch.com/02fd5a17-6889-4969-bfcd-c30a29cb3c8c%2Fhighline.jpg?v=1621659753684"
        />
        <div class="splash">
         <a href="/gallery"><h2>START HERE</h2> </a>
        </div>
      </div>
<!--splash page 
    h1 / paragraphs images etc.) 
-first page is a 2 boxed  grid
logo on top, with big button on bottom that says "click here to start"-->



</body>
</html>